<div class="container">
  <%= form_with(model: @habit, url: habits_path) do |form| %>
    <% if @habit.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@habit.errors.count, "error") %> prohibited this habit from being saved:</h2>
        <ul>
          <% @habit.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.text_field :name, class: "form-control", placeholder: "習慣を入力してください" %>
    </div>

    <div class="actions">
      <%= form.submit "Create Habit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>