<h3 class="display-5"><%= @habit.name %></h3>

<% flash.each do |key, value| %>
  <%
    alert_class = "alert-success"
    if key == 'alert' then
      alert_class = "alert-danger"
    end
  %>
  <div class="alert <%= alert_class %>" role="alert">
    <%= value %>
  </div>
<% end %>

<!-- 進捗フォーム
<%= form_with(model: @progress, url: habit_progresses_path(@habit)) do |form| %>
  <div class="mb-3">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="mb-3 form-check">
    <%= form.label :completed, class: 'form-check-input' %>
    <%= form.check_box :completed, class: 'form-check-label' %>
  </div>

  <div class="mb-3">
    <%= form.label :memo, class: 'form-label' %>
    <%= form.text_area :memo, class: 'form-control' %>
  </div>
  <%= form.submit "Create Progress", class: 'btn btn-primary' %>
<% end %>
-->
<div class="table-responsive">
  <table class="table table-borderless table-sm">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Completed</th>
        <th scope="col">Memo</th>
        <th scope="col">Action</th>
      </tr>
    </thread>
    <tdoby>
      <% (@start_date..@end_date).each do |date| %>
        <tr>
          <td><%= date %>(<%= week_days[date.wday] %>)</td>
          <td>
            <% if @progress_records[date] %>
              <% if @progress_records[date]&.completed %>
                OK
              <% else %>
                NG
              <% end %>
            <% end %>
          </td>
          <td>
            <% if @progress_records[date] %>
              <%= @progress_records[date].memo %>
            <% end %>
          </td>
          <td>
            <% if @progress_records[date] %>
              <%= button_to habit_progress_path(@habit, date: date), method: :delete, data: { confirm: "Are you sure you want to delete this progress?" }, class: 'btn btn-secondary' do %>
                Delete
              <% end %>
            <% else %>
              <div class='btn-toolbar' role="toolbar">
                <%= form_with(model: @progress, url: habit_progresses_path(@habit)) do |form| %>
                  <%= form.hidden_field :date, value: date %>
                  <%= form.hidden_field :completed, value: true %>
                  <%= form.submit "OK", class: 'btn btn-primary' %>
                <% end %>
                <%= form_with(model: @progress, url: habit_progresses_path(@habit)) do |form| %>
                  <%= form.hidden_field :date, value: date %>
                  <%= form.hidden_field :completed, value: false %>
                  <%= form.submit "NG", class: 'btn btn-danger' %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>